apiVersion: v1
kind: ConfigMap
metadata:
  name: router-nginx-conf
  namespace: uploadgate
data:
  nginx.conf: |
    worker_processes  1;
    events { worker_connections  1024; }

    http {
      server_tokens off;
      client_max_body_size 100m;

      upstream upload_api {
        server upload-api:5000;
        keepalive 16;
      }

      server {
        listen 80;

        location = /health {
          return 200 "ok\n";
          add_header Content-Type text/plain;
        }

        location /upload/ {
          proxy_http_version 1.1;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

          proxy_request_buffering off;
          proxy_buffering off;

          proxy_pass http://upload_api;
        }

        location /files/ {
          alias /data/uploads/;
          autoindex off;
          try_files $uri =404;
          add_header Cache-Control "public, max-age=60";
        }
      }
    }
