apiVersion: v1
kind: ConfigMap
metadata:
  name: router-nginx-conf
  namespace: "{{ .Release.Namespace }}"
data:
  nginx.conf: |
    worker_processes  1;
    
    events { worker_connections  1024; }
    
    http {
      include       /etc/nginx/mime.types;
      default_type  application/octet-stream;
      sendfile      on;
      keepalive_timeout  65;
      client_max_body_size 1024m;
    
      server {
        listen 80;
    
        location = /health {
          default_type text/plain;
          return 200 "ok\n";
        }
    
        location = /list {
          proxy_http_version 1.1;
          proxy_set_header Host $host;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto $scheme;
          proxy_pass http://upload-api:5000/list;
        }
    
        location = /metrics {
          proxy_http_version 1.1;
          proxy_set_header Host $host;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto $scheme;
          proxy_pass http://upload-api:5000/metrics;
        }
    
        location /upload/ {
          proxy_http_version 1.1;
          proxy_set_header Host $host;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto $scheme;
          proxy_pass http://upload-api:5000;
        }
    
        location /files/ {
          error_page 418 = @files_delete;
          if ($request_method = DELETE) { return 418; }
    
          alias /data/uploads/;
          add_header Cache-Control "public, max-age=60";
          try_files $uri =404;
        }
    
        location @files_delete {
          proxy_http_version 1.1;
          proxy_set_header Host $host;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto $scheme;
          proxy_pass http://upload-api:5000;
        }
    
        location / { return 404; }
      }
    }
