apiVersion: v1
kind: ConfigMap
metadata:
  name: router-nginx-conf
  namespace: "{{ .Release.Namespace }}"
data:
  nginx.conf: |
    worker_processes  1;

    events { worker_connections  1024; }

    http {
      include       /etc/nginx/mime.types;
      default_type  application/octet-stream;

      sendfile        on;
      keepalive_timeout  65;

      server {
        listen 80;

        # health
        location = /health {
          default_type text/plain;
          return 200 "ok";
        }

        # LIST -> upload-api
        location = /list {
          proxy_http_version 1.1;
          proxy_set_header Host $host;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto $scheme;
          proxy_pass http://upload-api:5000;
        }

        # UPLOAD -> upload-api
        location /upload/ {
          proxy_http_version 1.1;
          proxy_set_header Host $host;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto $scheme;

          proxy_request_buffering off;
          proxy_buffering off;

          client_max_body_size 1024m;

          proxy_pass http://upload-api:5000;
        }

        # FILES
        # - GET/HEAD -> static serve from PVC
        # - DELETE   -> upload-api (so it can remove the file)
        location /files/ {
          if ($request_method = DELETE) {
            proxy_http_version 1.1;
            proxy_set_header Host $host;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_pass http://upload-api:5000;
            break;
          }

          alias /data/uploads/;
          add_header Cache-Control "public, max-age=60";
          try_files $uri =404;
        }
      }
    }
